html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* outline: 1px solid;
  outline-color: tomato; */
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* body {
  background-color: #0C0C0E;
} */


.wrapper-black {
  background-color: #0C0C0E;
  margin: 0 auto;
}

.wrapper-welcome {
  background-image: url(./assets/img/main_bg.jpeg);
  background-position: center;
  background-size: cover;

}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 90px;
  background-color: #0C0C0E;
  padding: 20px;
  justify-content: space-between;
}

.logo-name {
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Forum, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu:last-child {
  margin-right: 41px;
}

.menu-item a {
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
}


.icon-profile {
  display: flex;
  align-items: center;
}

.welcome-box {
  padding: 220px 840px 160px 0;
}

.welcome-text {
  padding: 35px 40px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0C0C0E;
  
}


.welcome-gradient {
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%);
}

.title {
  color: #0C0C0E;
  font-family: Forum, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.about {
  background-color: #FFF;
  margin: 0 auto;
  padding-bottom: 35px;
}

.line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #0C0C0E;
  padding-top: 20px;
  margin: 0 auto;
}

.about-description {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  
  padding-top: 40px;
  padding-bottom: 20px;
}

.slider-photo {
  display: flex;
  gap: 25px;
  padding: 0 20px;
}

.slider-controls {
  display: flex;
  padding-top: 31px;
  /* border: 1px solid black; */
  margin: 0 auto;
  justify-content: center;
  gap: 0px;
}

.control {
  border: 1px solid black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  /* outline: 1px dashed red; */
  cursor: pointer;
  
}

.control-checked {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}

.slider-click {
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  
}
.favorites {
  padding-left: 20px;
  padding-right: 20px;
}

.line-favorites {
  margin: 0 auto;
}

.favorites-pick {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 41px;
  padding-bottom: 40px;
}

.item {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 85px;
  padding-left: 1px;
}

/* .checked {
  font-weight: 700;
} */

.radio {
  stroke-width: 2px;
  stroke: #000;
  accent-color: #000;
  width: 15px;
  height: 15px;
  margin: 0;
}

.radio-text {
  padding-left: 16px;
}

.item:has(.radio:checked) {
  font-weight: 700;
}

.favorites-books {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-right: 40px;
  justify-content: space-between;
  gap: 40px;

}

.book-wrapper {
  border: 1px solid #d92828;
  background: #FFF;
  width: 590px;

}
.book {
  position: relative;
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  padding: 14px 171px 15px 20px;
  /* margin-bottom: 40px; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.book-header {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  
}

.book-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.book-name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 19px;
}

.book-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-description {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 19px;
}

.bottom-buy {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  margin-top: auto;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

}

.bottom-own {
  border-radius: 2px;
  border: 1px solid #BB945F;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  margin-top: auto;

  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.book-icon {
  position: absolute;
  bottom: -1px;
  right: -40px;
}

.coffee-shop {
  padding: 39px 20px 40px 20px;
}

.coffee-description {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.coffee-menu {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.menu-title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-line {
  width: 100px;
  height: 1px;
  background: #BB945F;
  /* margin-left: 60px;
  margin-right: 60px; */
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 199px;
}

.menu-price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-tea {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 438px;
}

.desserts-cakes {
  display: flex;
  width: 486px;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  text-align: right;
  gap: 40px;
}


.menu-name-right {
  width: 239px;
}

.menu-price-right {
  display: block;
  width: 39x;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-content{
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 36px 20px;
}

.contacts-title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;

}

.contacts-title2 {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 0px;
  padding-top: 20px;
}

.contacts-text {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;

}

.contacts-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bold {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card-content {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.card-right-title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.card-right-text {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  width: 456px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.card-right-buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.card-right-button {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
}

.card-right-button-text {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.left-title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  padding-bottom: 30px;
}

.card {
  border: 3px solid #BB945F;
  background: #FFF;
  width: 600px;
  height: 386px;
  flex-shrink: 0;
  padding: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inputs {
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  gap: 20px;
  margin-bottom: 17px;
}

.card-title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  /* padding-bottom: 5px; */

}

.input-card {
  display: flex;
  width: 520px;
  flex-shrink: 0;
  border-radius: 10px;
  padding-top: 8px;
  margin-bottom: 5px;
  background: #FFF;
  height: 66px;
  border: none;
  align-items: center;
}

.input-card::placeholder {
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 166.667% */
  letter-spacing: 0.6px;
  padding-left: 19px;
  align-items: center;
  padding-top: 20px;
  
}

.button-check-card {
  margin: 0 auto;
  display: flex;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 10px 40px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;

}

.footer {
  background: #0C0C0E;
}

.adress-text {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  width: 229px;
}

.content-footer {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-line {
  display: flex;
  justify-content: space-between;
}

.schedule {
  text-align: right;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.footer-hr {
  width: 1400px;
  height: 1px;
  background: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.footer-text-end {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  padding-top: 15px;
  gap: 570px;
}
