html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* outline: 1px solid;
  outline-color: tomato; */
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body._lock {
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* body {
  background-color: #0C0C0E;
} */


.wrapper-black {
  background-color: #ffffff;
  margin: 0 auto;
}

.wrapper-welcome {
  /* background-image: url(./assets/img/main_bg.jpeg); */
  background-position: center;
  background-size: cover;

}
.welcome {
  background-image: url(./assets/img/main_bg.jpeg);
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 90px;
  background-color: #0C0C0E;
  padding: 20px;
  justify-content: space-between;
}

.logo-name {
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Forum, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu:last-child {
  margin-right: 41px;
}

.menu-item a {
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  color: #BB945F;
  
}

a:hover {
  color: #BB945F;
}


.icon-profile {
  display: flex;
  align-items: center;
  z-index: 6;
  width: 28px;
}

.menu-icon {
  display: none;
}

.welcome-box {
  padding: 220px 0 160px 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%);
}

.welcome-text {
  padding: 35px 40px;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0C0C0E;
  width: 600px;
  
}


.welcome-gradient {
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%);
}

.title {
  color: #0C0C0E;
  font-family: Forum, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
}

.about {
  background-color: #FFF;
  margin: 0 auto;
  padding-bottom: 35px;
}

.line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #0C0C0E;
  padding-top: 20px;
  margin: 0 auto;
}

.about-description {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  
  padding-top: 40px;
  padding-bottom: 20px;
}

.arrow-left,
.arrow-right {
  display: none;
  transition: all 0.3s ease;
}

.slider-photo,
.slider-items {
  display: flex;
  gap: 25px;
  padding: 0 20px;
  justify-content: center;
}

.slider-items {
  justify-content: space-between;
  gap: 25px;
  padding: 0;
  z-index: 2;
}

.slider-controls {
  display: flex;
  padding-top: 31px;
  /* border: 1px solid black; */
  margin: 0 auto;
  justify-content: center;
  gap: 0px;
}

.control {
  border: 1px solid black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  /* outline: 1px dashed red; */
  cursor: pointer;
  
}

.control-checked {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}

.slider-click {
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  
}
.favorites {
  padding-left: 20px;
  padding-right: 20px;
}

.line-favorites {
  margin: 0 auto;
}

.favorites-pick {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 41px;
  padding-bottom: 40px;
}

.form {
  display: flex;
  gap: 85px;
}

.item {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 5px;
  padding-left: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.radio-button {
  display: block;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

/* .checked {
  font-weight: 700;
} */

.radio {
  stroke-width: 2px;
  stroke: #000;
  accent-color: #000;
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
  /* padding-left: 5px; */
  justify-content: center;
  align-items: center;
}

.radio-text {
  padding-left: 16px;
}

.item:has(.radio:checked) {
  font-weight: 700;
}

.favorites-books {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-right: 40px;
  justify-content: space-between;
  gap: 40px;

}

.book-wrapper {
  border: 1px solid #d92828;
  background: #FFF;
  width: 590px;

}
.book {
  position: relative;
  border: 1px solid #000;
  background: #FFF;
  width: 550px;
  height: 555px;
  padding: 14px 171px 15px 20px;
  /* margin-bottom: 40px; */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.no-book {
  display: none;
}

.book-header {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  
}

.book-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.book-name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 19px;
}

.book-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-description {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 19px;
}

.bottom-buy {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  margin-top: auto;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;

}

.bottom-buy:hover,
.button-check-card:hover,
.card-right-button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}

.bottom-own {
  border-radius: 2px;
  border: 1px solid #BB945F;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  margin-top: auto;

  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

/* .bottom-own:hover {
  color: #000;
} */

.book-icon {
  position: absolute;
  bottom: -1px;
  right: -40px;
}

.coffee-shop {
  padding: 39px 20px 40px 20px;
}

.coffee-description {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.coffee-menu {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
  flex-wrap: wrap;
}

.menu-title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-line {
  width: 100px;
  height: 1px;
  background: #BB945F;
  /* margin-left: 60px;
  margin-right: 60px; */
}

.caffee-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 199px;
}

.menu-price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-tea {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 538px;
  padding-right: 100px;
}

.desserts-cakes {
  display: flex;
  width: 486px;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  text-align: right;
  gap: 40px;
}


.menu-name-right {
  width: 239px;
}

.menu-price-right {
  display: block;
  width: 39x;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-content{
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 36px 20px;
  flex-wrap: nowrap;
}

.contacts-title {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;

}

.contacts-title2 {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 0px;
  padding-top: 20px;
}

.contacts-text {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  flex-wrap: nowrap;


}

.contacts-left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}

.bold {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card-content {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.card-right-title {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.card-right-text {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
  max-width: 456px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.card-right-buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.card-right-button {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-right-button-text {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.left-title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  padding-bottom: 30px;
}

.card {
  border: 3px solid #BB945F;
  background: #FFF;
  width: 600px;
  height: 386px;
  flex-shrink: 0;
  padding: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inputs {
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  background: #BB945F;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 20px;
  gap: 20px;
  margin-bottom: 17px;
}

.card-title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  /* padding-bottom: 5px; */

}

.input-card {
  display: flex;
  width: 520px;
  flex-shrink: 0;
  border-radius: 10px;
  padding-top: 8px;
  margin-bottom: 5px;
  background: #FFF;
  height: 66px;
  border: none;
  align-items: center;
}

.input-card::placeholder {
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 166.667% */
  letter-spacing: 0.6px;
  padding-left: 19px;
  align-items: center;
  padding-top: 20px;
  
}

.button-check-card {
  margin: 0 auto;
  display: flex;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 10px 40px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFF;
  transition: all 0.3s ease;
  cursor: pointer;

}

.footer {
  background: #ffffff;
}

.adress-text {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  width: 229px;
}

.content-footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #0C0C0E;
}

.footer-line {
  display: flex;
  justify-content: space-between;
}

.schedule {
  text-align: right;
}

.social-icons ul {
  display: flex;
  gap: 15px;
  padding-top: 9px;
}

.footer-hr {
  max-width: 1400px;
  height: 1px;
  background: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.footer-text-end {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  padding-top: 15px;
  gap: 570px;
  padding-bottom: 20px;
}


.tel {
  color: #000;
}

.adress {
  color: #ffffff;
}

.slider-click:nth-last-child(-n+2) {
  display: none;
}

.rs {
  padding-left: 65px;
}
/* .slider-item:not(:nth-child(1)) {
  display: none;
} */

@media screen and (max-width: 1000px) {
  .header{
    height: 90px;
    /* padding-top: 30px;
    padding-bottom: 20px; */
  }

  .menu {
    /* display: none; */
    position: fixed;
    top: 0;
    right: -100%;
    width: 332px;
    height: 570px;
    background:  #0C0C0E;
    padding: 30px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    z-index: 5;
  } 

  .menu._active {
    right: 0;
    transform: translate(0px, 0px);
  }

  .menu:last-child {
    margin-right: 0;
  }

  .menu-item {
    justify-content: center;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    cursor: pointer;
    margin: auto;
    /* transition: all 0.3s ease; */
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 5%;
    width: 100%;
    /* transition: all 0.3s ease; */
    background-color: #FFF;
  }

  .menu__icon span {
    background: #FFF;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    transition: all 0.3s ease;
    
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
    transition: all 0.3s ease;
  }

  .menu__icon::after {
    bottom: 0;
    transition: all 0.3s ease;
  }
  .header-right {
    gap: 40px;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  } 
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .icon-profile {
    /* align-self: flex-start; */
  }


  .slider-item:not(:nth-child(1)) {
    display: none;
  }

  .arrow-left,
  .arrow-right {
    display: block;
    /* padding: 21px; */
    margin: 21px;
    margin-top: 289px;
    max-height: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .slider-item:first-child {
    justify-content: center;
    margin: 0 auto;
  }

  .about-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider-click:nth-last-child(-n+2) {
    display: flex;
  }

  .desserts-cakes {
    margin-left: auto;
    padding-top: 40px;
  }

  .slider-controls {
    padding-top: 16px;
  }

  .form {
    flex-wrap: wrap;
  }

  .favorites-books {
    justify-content: center;
  }

  .coffee-shop {
    padding-right: 19px;
  }

  .menu-name-right {
    padding-right: 3px;
  }

  .contacts-content {
    flex-wrap: wrap;
    gap: 100px;
  }

  .contacts-right {
    margin: auto;
  }

  .card-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card-right-title,
  .card-right-text {
    text-align: center;
    max-width: 600px;
  }

  .card-right-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-right-buttons {
    justify-content: center;
  }

  .rs {
    padding-left: 10px;
  }

  

}